PORT=3000
NODE_ENV=production

PEPPER_SECRET=secretForPepper123

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

SESSION_SECRET=
SESSION_TTL=86400000

CORS_URL=

# admin user database seeding
ADMIN_EMAIL_SEED=
ADMIN_PASSWORD_SEED=